// About webinar styles
.about-webinar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 38px;

    @include responsive(desktop) {
        flex-direction: row;
        margin-top: 92px;
    }

    &-label {
        margin-top: 50px;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.1px;
        color: #04121B;

        @include responsive(desktop) {
            margin-top: 105px;
            margin-left: 25px;
            font-size: 64px;
            line-height: 100%;
        }
    }

    &__item {
        width: 300px;
        height: 244px;
        margin-top: 32px;
        padding: 14px 12px;
        border-radius: 16px;
        border: 8px solid $white;
        background-color: $blue;
        position: relative;

        @include responsive(desktop) {
            width: 384px;
            height: 351px;
            margin-top: 0;
            padding: 32px;
            border: 12px solid $white;
        }


        &-text {
            font-size: 24px;
            line-height: 100%;

            @include responsive(desktop) {
                font-size: 40px;
            }
        }

        &-sticker {
            @include boxSize(164px, 53px);
            @include coverBgImg('../images/stickers/speaker.png');
            position: absolute;
            top: -54px;
            left: 102px;
            transform: rotate(-17.07deg);

            @include responsive(desktop) {
                @include boxSize(256px, 83px);
                top: -72px;
                left: 54%;
                transform: translateX(-50%) rotate(-17.07deg);

            }
        }
    }

    &__item:first-child {
        transform: rotate(10deg);
        margin-bottom: -60px;
        p {
            width: 70%;
        }

        @include responsive(desktop) {
            margin-bottom: -40px;
            margin-left: -28px;
            p {
                width: 100%;
            }
        }
    }

    &__item:nth-child(2) {
        
        @include responsive(mobile) {
            margin-left: 0;
            height: 250px;
        }

        @include responsive(desktop) {
            margin-left: 20px;
            margin-bottom: -24px;
        }
    }

    &__item:last-child {
        margin-top: 15px;
    
        .about-webinar__item-text {
            width: 75%;
            margin-top: 5px;

            @include responsive(desktop) {
                width: 100%;
                margin-top: 0;
            }
        }

        @include responsive(desktop) {
            margin-right: -15px;
        }

        .emoji {
            @include responsive(desktop) {
                margin-left: -10px;
                margin-top: 2px;
            }
        }

        .about-webinar__item-text {
            @include responsive(desktop) {
                margin-top: 16px;
            }
        }
    }

    // Item video
    &__item_video {
        padding: 0;

        .video {
            width: 100%;
            height: 100%;
            padding-bottom: 0;

            &__media {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: nonoe;
                object-fit: cover;
            }
        }    
    }

    // item image
    &__item_image {
        padding: 0;

        .popup-youtube {
            width: inherit;
            height: inherit;
        }

        .about-webinar__item-image {
            width: 100%;
            height: 100%;
            position: relative;

            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .about-webinar__item-play-btn {
                width: 171px;
                height: 40px;
                background: rgba(0, 0, 0, 0.7);
                border-radius: 20px;
                z-index: 10;
                position: absolute;
                left: 24px;
                bottom: 28px;

                .item-play-btn__inner {
                    display: flex;
                    width: inherit;
                    height: inherit;
                    padding: 0 14px;
                    align-items: center;
                    justify-content: space-between;
                    color: $white;
                }
            }
        }
    }
}

.about-webinar_speaker {
    position: relative;

    @include responsive(desktop) {
        margin-top: 200px;
    }

    .about-webinar__item:first-child {
        background-color: $blue_2;
    }

    .about-webinar_title {
        display: none;

        @include responsive(desktop) {
            display: block;
            position: absolute;
            top: -95px;
            left: 22px;
        }
        
    }
}