
// Styles for header

.header {
    padding: 8px 0 30px 0;
    
    @include responsive(desktop) {
        padding: 36px 0;
    }

    .container {
        @include responsive(desktop) {
            height: auto;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}
