// Master class section styles
.master-class-section {
    margin-top: 40px;
    width: 100%;

    @include responsive(desktop) {
        padding-bottom: 70px;
        margin-top: 103px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    // title
    &__title {
        font-size: 32px;
        line-height: 100%;
        position: relative;

        @include responsive(desktop) {
            font-size: 64px;
        }
 
        p {
            width: 95%;

            @include responsive(desktop) {
                width: 375px;
            }
        }

        &-sub {

            margin-top: 16px;
            font-size: 24px;
            line-height: 100%;
            color: rgba($black, 0.48);
            
            @include responsive(desktop) {
                margin-top: 32px;
                font-size: 40px;
            }
        }
    }

    // emoji

    .emoji {
        width: 40px;
        height: 40px;
        margin: -5px -5px -10px -5px;
   
        @include responsive(desktop) {
            width: 80px;
            height: 80px;
            margin: -6px -15px -15px -13px;
        }
    }

    // Video
    &__video {
        width: 304px;
        height: 254px;
        margin-top: 15px;
        border: 10px solid $white;
        border-radius: 16px;
        overflow: hidden;

        @include responsive(desktop) {
            width: 784px;
            height: 474px;
            border: 12px solid $white;
            margin-right: -15px;
            margin-top: -20px;
        }

        .video {
            height: 100%;
            padding-bottom: 0;
            
            &__media {
                object-fit: cover;
            }
        }
    }

}
