
// Fonts
$basic-fonts: "Stratos LC Web", serif;


// Colors
$blue: #FFF4C5;
$blue_2: #FFF08F;
$blue_btn: #00AEFA;
$gray: #8C8C8C;
$black: #04121B;
$white: #FFF;
$purple: #FF64B0;
$purple-2: #E8BEFC;
$purple-3: #E6A8FF;
$pink: #FF9ACC;
$pink_form: #2D061F;
