// Webinar ether styles
.webinar-ether {
    margin-top: 33px;

    @include responsive(desktop) {
        margin-top: 110px;
    }

    .webinar-title {
        width: 290px;

        &__inner-text:nth-child(3) {
            width: 224px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        .emoji {
            margin: -6px -6px -10px -6px;
            width: 40px;
            height: 40px;
        }


        @include responsive(desktop) {
            width: 100%;

            &__inner-text:first-child {
                display: block;
            }

            &__inner-text:nth-child(3) {
                width: auto;
                display: inline-block;
            }

            .emoji {
                margin: -12px -12px -20px -12px;
                width: 80px;
                height: 80px;
            }

        }
    }
}