// Webinar topic styles

.webinar-topic {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include responsive(desktop) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-starts;
    }

    .emoji {
        margin: -7px -7px -5px -7px;
        width: 40px;
        height: 40px;

        @include responsive(desktop) {
            margin: -15px -15px -5px -15px;
            width: 80px;
            height: 80px;
        }
    }

    // title
    &__title {
        width: 100%;
        font-weight: normal;
        font-size: 40px;
        line-height: 100%;
        color: $black;

        @include responsive(desktop) {
            max-width: 660px;
            margin-top: 36px;
            font-size: 80px;
        }
    }

    // Img box
    &__img-box {
        position: relative;
        margin-top: 28px;

        &_rect {
            @include responsive(desktop) {
                height: 490px;
                margin-top: -68px;
                margin-right: -20px;
            }
        }

        &_circle {
            @include responsive(desktop) {
                height: 480px;
                margin-top: -58px;
                margin-right: 65px;
            }
        }

        @include responsive(desktop) {
            width: auto;
            position: relative;
        }
        
    }

    // Image
    .img-box__image {
        border: 8px solid $white;       
        transform: rotate(-8deg);
        margin: 0 auto;
        position: relative;

        &_rect {
            @include coverPicture(274px, 190px);
            border-radius: 16px;
        }

        &_circle {
            @include coverPicture(240px, 240px);
            border-radius: 50%;
            transform: rotate(0deg);
            position: relative;  
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


        @include responsive(desktop) {
            margin: 0;
            border: 12px solid $white;
            transform: rotate(-4.21deg);

            &_rect {
                @include coverPicture(480px, 335px);
                border-radius: 16px;
            }
    
            &_circle {
                @include coverPicture(376px, 376px);
                border-radius: 50%;
                transform: rotate(0deg);
                position: relative;  
            }
        }
        
    
    }

    // Sticker
    .img-box__sticker {
        @include boxSize(315px, 167px);
        @include coverBgImg('../images/stickers/free-webinar.png');
        position: absolute;

        @include responsive(desktop) {
            @include boxSize(508px, 269px);
        }
        
        
    }

    .img-box__image_rect + .img-box__sticker {
        top: 110px;
        left: 49%;
        transform: translateX(-50%);

        @include responsive(desktop) {
            top: auto;
            left: -103px;
            bottom: 6px;
            transform: translateX(0);
        }
    }

    .img-box__image_circle + .img-box__sticker {
        top: 125px;
        left: 50%;
        transform: translateX(-50%);

        @include responsive(desktop) {
            top: auto;
            left: -121px;
            bottom: 0;
            transform: translateX(0);
        }
    }
}