//webinar-form-block
.webinar-form-block {
    display: inline-block;
    width: 300px;
    height: auto;
    margin-top: 13px;
    padding: 20px;
    padding-bottom: 40px;
    background-color: $purple;
    border-radius: 16px;

    @include responsive(desktop) {
        width: 400px;
        height: 560px;
        margin-top: 0px;
        margin-right: -1px;
        padding: 24px;
        padding-bottom: 64px;
    }

    &__title {
        font-size: 24px;
        line-height: 100%;
        color: $white;

        span {
            display: none;
        }

        @include responsive(desktop) {
            font-size: 40px;
            span {
                display: inline-block;
            }
        }
    }
    
}